header {	
			height: 100px;
			
		}

nav {
			height: 100px;
			
}

section{   float: left;
			margin: 0;
			width: 80%;
			
		
}
aside{	float: right;	
  		height: 4.5in;
		width: 20%;

			
			
			
}
article {
	margin-right: 0in;
	width: 80%;
	height: 100px;
	
}

h3{
	float: left;
	margin: 0;
	height: 1.2in;
	width: 100%;
	

}
p {float: left;
	margin: 0;
	height: 1.2in;
	width: 100%;
	}

	footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  }
